/hls_data
/evaluation/21*
/evaluation/prodes_data
/Random Forest/Classification
/Random Forest/trainingData
/Random Forest/training*
Images2018*
/__pycache__
./xxx_uncontrolled_hls
./
/hls_downloads
.idea
.idea/*