/hls_data
/evaluation/21*
/evaluation/prodes_data
/RandomForst/Classification
/RandomForst/trainingData
/RandomForst/training*
/RandomForst
Images2018*
/__pycache__
./xxx_uncontrolled_hls
./
/hls_downloads
.idea
.idea/*
