/hls_data
/evaluation/21*
/evaluation/prodes_data
/RandomForest/Classification
/trainingData
/RandomForest/training*
/RandomForest
Images2018*
/__pycache__
./xxx_uncontrolled_hls
./
*.tif
*.JPG
*.xml
*.h5
/hls_downloads
.idea
.idea/*
HLS*
